<!-- Main Home Page:
This should be the default home page of the application, accessible from
http://localhost:3000/.
/**
 * @desc Student wrote this full page index.ejs
 */
● A link to the Author Home Page
● A link to the Reader Home Page-->

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  type="text/css" href="/main.css" />
        <title>This is the main home page of the blog.</title>
    </head>
    <body>
        <header>
            <div id="headerHomePage">
            <!--Photo by gya den: https://www.pexels.com/photo/van-parked-beside-the-road-near-handrail-and-ocean-2303781/-->
            <img src="/assets/backgroundImage.jpg" style="width:30%">
                <h1> The Traveler's Rucksack </h1>
                <p>A Travel Inspiration Blog</p>
            </div>
        <hr>
        </header>
        <div id="modeLinks">
            <a href=/author>Author Mode</a>
            <a href=/reader>Reader Mode</a>
        </div>
    </body>
</html>